/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2020, 7:00:23 PM
    Author     : lribeiro
*/

.page-item .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 3px;
    border-radius: 4px!important;
    width: auto;
    min-width: 36px;
    padding: 0 5px;
    height: 36px;
    font-size: 0.875rem;
}
.page-item.disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 3px;
    border-radius: 4px!important;
    width: auto;
    min-width: 36px;
    padding: 0 12px;
    height: 36px;
    font-size: 0.875rem;
    border: 0.0625rem solid #dee2e6;
    line-height: 1.25;
    color: #8898aa;
    background-color: #eee;
}
.table thead th:last-child {
    min-width: 97px;
}
.table thead th:nth-child(4) {
    min-width: 168px;
}
.table th, .table td {
    padding: 7px 5px;
    vertical-align: middle;
    border-top: none;
}
.table td:first-child {
    padding-left: 10px;
}
.table td:last-child {
    text-align: center;
}

#landing .btn {
    height: 52px;
    margin-top: 8px;
    border-radius: .2rem;
}

.visible-off {
    visibility: hidden;
}
.fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}
.wrapper {
    min-height: calc(100vh - 112px);
}
.custom-control-input:checked~.custom-control-label::before {
    color: #3FB7EB;
    border-color: #3FB7EB;
    background-color: #3FB7EB;
    box-shadow: none;
    border-radius: 50%;
}
.custom-checkbox {
    margin-left: 6px;
}
.nav-link {
    color: #506690;
}
.highlight pre {
    overflow: auto;
    margin: 0;
    padding: 1.25rem;
    font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.375;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    hyphens: none;
    color: #5e6687;
    border-radius: .25rem;
    background: #f5f7ff;
    direction: ltr;
    -ms-hyphens: none;
}

.highlight pre code {
    font-size: 87.5%;
    word-break: break-word;
    color: #5e6687;
}

.highlight pre pre code {
    font-size: inherit;
    word-break: normal;
    color: inherit;
}

.highlight pre code,
.highlight pre kbd,
.highlight pre pre,
.highlight pre samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 1em;
}

.highlight pre .nt {
    color: #3d8fd1;
}

.highlight pre .na {
    color: #c76b29;
}

.highlight pre .s,
.highlight pre .token.control,
.highlight pre .token.directive,
.highlight pre .token.keyword,
.highlight pre .token.unit {
    color: #ac9739;
}

.highlight pre .token.punctuation {
    color: #5e6687;
}
.display-3 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
}
.side-link.active {
    color: red!important;
}

.tumbler_wrapper {
    margin: 4px 15px;
    width: 50px;
    height: 28px;
    background-color: transparent;
    border: 1.5px solid;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}

.tumbler_wrapper svg {
    width: 15px;
    height: 15px;
}

.tumbler {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #d3d4d4;
    transition: margin-left 0.5s, background-color 0.5s;
}

.tumbler--night-mode {
    margin-left: calc(100% - 30px);
}

.sun-svg,
.moon-svg {
    display: none;
}

.toggle-sm {
    position: absolute;
    bottom: 1%;
    left: 37%;
}

@media (max-width: 991.98px) {
    .navbar-collapse .navbar-toggler span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        opacity: 1;
        background: #283448;
    }
    .navbar-collapse .navbar-toggler span:nth-child(1) {
        transform: rotate(135deg);
    }
    .navbar-collapse .navbar-toggler span:nth-child(2) {
        transform: rotate(-135deg);
    }
}