/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2020, 5:05:18 PM
    Author     : lribeiro
*/
body.night {
    background-color: #061F2F;
}
body.night .form-control {
    background-color: #0A121B;
    background-clip: padding-box;
    border: 1px solid #0A121B;
}
body.night .form-control:focus {
    color: #8898AA;
    background-color: #0A121B;
    border-color: rgba(50, 151, 211, 0.25);
}

body.night .footer {
    background: #0A121B;
}

body.night .btn-neutral {
    background-color: #0A121B;
    border-color: #0A121B;
}